<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="JogoDaForca.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="palavrasParaJogar"  value="C:\Users\abect\OneDrive\Área de Trabalho\ESX\Config.Exercicios\JogoForca\Palavras.txt"/>
		<add key="usuario" value="customização"/>
	</appSettings>
 <userSettings>
  <JogoDaForca.Config>
   <setting name="corDeFundo" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="corDaLetra" serializeAs="String">
    <value>2</value>
   </setting>
  </JogoDaForca.Config>
 </userSettings>
</configuration>